# Exercise 3

**In this exercise you will encode categorical columns with some of the encoding techniques that you learned in the session.**

In [235]:
!pip install feature_engine==0.6 -q

In [236]:
# imports 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
 
 #for splitting data
from sklearn.model_selection import train_test_split

#ordinal encoding
from sklearn.preprocessing  import OrdinalEncoder

#frequency encoding
from feature_engine.categorical_encoders import CountFrequencyCategoricalEncoder ,MeanCategoricalEncoder

In [224]:
# load the dataset 

dataset_url = 'https://raw.githubusercontent.com/univai-ghf/FeatureProcessingAndSelectionWorkshop/main/Data/creditApprovalUCI.csv'

data = pd.read_csv() # code here:  read data from given base url

In [225]:
#1.check the dataset by printing head 

#drop missing values 
data.dropna(axis=0,
            inplace=True)

#code here: print head of data 
data.____

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14    A15  A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202.0      0    1
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43.0    560    1
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100.0      3    1
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120.0      0    1
6  b  33.17  1.040  u  g  r  h  6.50  t   f    0   t   g  164.0  31285    1

**Finding categorical columns**

In [226]:
#2. Find categorical columns 

# Select columns where "datatype" is equal to "object"
categorical = data.select_dtypes(include = 'object').columns.to_list()  
print(f' Categorical Columns in the data are \n {categorical}')

 Categorical Columns in the data are
 ['A1', 'A4', 'A5', 'A6', 'A7', 'A9', 'A10', 'A12', 'A13']

In [227]:
#3. print unique values in categorical columns 

for col in categorical:
  print(f'{col} has unique values {data[col].unique()} ')

A1 has unique values ['b' 'a']
A4 has unique values ['u' 'y' 'l']
A5 has unique values ['g' 'p' 'gg']
A6 has unique values ['w' 'q' 'r' 'cc' 'k' 'c' 'm' 'd' 'x' 'i' 'e' 'aa' 'ff' 'j']
A7 has unique values ['v' 'h' 'bb' 'ff' 'j' 'z' 'dd' 'n' 'o']
A9 has unique values ['t' 'f']
A10 has unique values ['t' 'f']
A12 has unique values ['f' 't']
A13 has unique values ['g' 's' 'p']

**A) Using One hot Encoding to encode the selected categorical columns**

In [228]:
#4. make a copy of dataframe to perform onehot encoding on 

data_ohe = data.copy()

In [229]:
#5. One hot encode categorical variables 
# (Hint: use "pd.get_dummies(df[columns])" , where df is your dataframe 
#        and columns is a list of categorical columns)

ohe_data = pd.get_dummies(data_ohe[____]) # your code here 


#print the head of the dataset to see one hot encoded columns
ohe_data.head()

,A1_a,A1_b,A4_l,A4_u,A4_y,A5_g,A5_gg,A5_p,A6_aa,A6_c,...,A7_z,A9_f,A9_t,A10_f,A10_t,A12_f,A12_t,A13_g,A13_p,A13_s
0,0,1,0,1,0,1,0,0,0,0,...,0,0,1,0,1,1,0,1,0,0
1,1,0,0,1,0,1,0,0,0,0,...,0,0,1,0,1,1,0,1,0,0
3,0,1,0,1,0,1,0,0,0,0,...,0,0,1,0,1,0,1,1,0,0
4,0,1,0,1,0,1,0,0,0,0,...,0,0,1,1,0,1,0,0,0,1
6,0,1,0,1,0,1,0,0,0,0,...,0,0,1,1,0,0,1,1,0,0

**B) Ordinally Encoding categorical data using scikit learn.**

In [230]:
#6. separate into training and testing set


X_train, X_test, y_train, y_test = train_test_split(
    data.drop(labels=['A16'], axis=1),  # predictors
    data['A16'],                        # target
    test_size=0.25,                      # ratio of test set
    random_state=0)                     #  seed to ensure reproducibility

X_train.shape, X_test.shape

((423, 15), (141, 15))

In [231]:
#7.label encode categorical columns. fit "LabelEncoder" on X_train, and transform both train and test set.

label_enc = OrdinalEncoder()


# fit ordinal encoder on categorical columns of X_train 
label_enc.fit(___)   # code here 

# transform train and test data 

X_train_oe = label_enc.transform(__) # code here 
X_test_oe = label_enc.transform(___)   # code here

In [232]:
#8..convert transformed data into DataFrame and print the head  

X_train_oe = pd.DataFrame(X_train_oe,
                          columns = categorical)


X_test_oe = pd.DataFrame(___)              # code here

#check encoded columns by printing head
X_train_oe.head()

    A1   A4   A5    A6   A7   A9  A10  A12  A13
0  1.0  2.0  2.0  12.0  7.0  1.0  1.0  1.0  0.0
1  1.0  1.0  0.0   6.0  0.0  0.0  0.0  1.0  0.0
2  0.0  1.0  0.0   5.0  2.0  0.0  1.0  0.0  0.0
3  1.0  2.0  2.0   9.0  7.0  0.0  0.0  0.0  0.0
4  1.0  1.0  0.0  10.0  3.0  1.0  1.0  0.0  0.0

**Mean Encoding using Feature-Engine**

In [233]:
#9. create a instance and frequency encoder 
mean_enc = MeanCategoricalEncoder(variables=categorical)

#fit the encoder on training data(hint: pass X and y values)
mean_enc.fit(_____)    # code here

#transform train and test data using fitted mean encoder
X_train_me = mean_enc.transform()  # code here
X_test_me = mean_enc.transform()    # code here

#check the transformed data 
X_train_me.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15
510,0.472603,13.75,4.000,0.297030,0.297030,0.547619,0.435685,1.750,0.793991,0.731579,2,0.502538,0.488432,120.0,1000
378,0.472603,34.42,1.335,0.528125,0.528125,0.323529,0.500000,0.125,0.084211,0.266094,0,0.502538,0.488432,440.0,4500
300,0.480916,57.58,2.000,0.528125,0.528125,0.181818,0.200000,6.500,0.084211,0.731579,1,0.451327,0.488432,0.0,10
272,0.472603,18.08,6.750,0.297030,0.297030,0.413793,0.435685,0.040,0.084211,0.266094,0,0.451327,0.488432,140.0,0
529,0.472603,43.25,25.210,0.528125,0.528125,0.666667,0.649485,0.210,0.793991,0.731579,1,0.451327,0.488432,760.0,90

In [234]:
#note that the values of numerical columns are not changed  by the transformation by comparing values with original data
X_train.head()

    A1     A2      A3 A4 A5  A6  A7     A8 A9 A10  A11 A12 A13    A14   A15
510  b  13.75   4.000  y  p   w   v  1.750  t   t    2   t   g  120.0  1000
378  b  34.42   1.335  u  g   i  bb  0.125  f   f    0   t   g  440.0  4500
300  a  57.58   2.000  u  g  ff  ff  6.500  f   t    1   f   g    0.0    10
272  b  18.08   6.750  y  p   m   v  0.040  f   f    0   f   g  140.0     0
529  b  43.25  25.210  u  g   q   h  0.210  t   t    1   f   g  760.0    90